/bin/
# Qt Creator per-user project settings (all locations)
CMakeLists.txt.user
CMakeLists.txt.user.*
**/.qtcreator/CMakeLists.txt.user
/build*/
/tools/Build*
/.fuse_hidden001190e600000eeb
/Daqster-x86_64.AppImage
/test_build/
