{
    "Keys": ["Daqster.PlugIn.QPluginInterface"],
    "MetaData": {
        "Name": "RequirementsManager",
        "Type": "APPLICATION_PLUGIN",
        "Version": "@DAQSTER_VERSION@",
        "Description": "Requirements Viewer/Editor tool for Markdown-based traceable requirements."
    }
}
